################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs
/JsonMapper/JsonMapper/x64/Debug
/JsonMapper/x64/Debug
